[2021-12-28 23:15] arifb opened #289 "Project selected is incorrect despite running lazydocker from project root"
Hi, thanks for the awesome project. I have no containers running. I run `docker-compose up -d` from a project directory and from the same project directory I run `lazydocker`.

The project label in lazydocker every so briefly shows the correct project, only to change to another unrelated project which is multiple directories away in the filesystem. And so, all the info in lazydocker is not useful

[2022-01-03 16:48] eladeyal-intel commented on #289
I see this also, even when using `-f` .

additionally it seems lazydocker is stuck - no key/mouse click does anything except `q`

[2022-01-04 13:33] zant commented on #279
+1 on this one! Also for the ones of us that does not use brew :)

[2022-01-07 22:03] #269 closed

[2022-01-08 01:43] DanaCoding opened #290 "[Feature request] VSCode extension"
**Is your feature request related to a problem? Please describe.**
Installing it alone is a bit expensive, especially for full stack developers. And it's a burden for the desktop.

**Describe the solution you'd like**
If it can be integrated into VSCode, it will be good news for developers. Very convenient for development and testing.

[2022-01-09 07:39] jesseduffield commented on #249
I also find my fan goes a bit crazy sometimes, though my prior debugging efforts proved useless. Happy to accept a PR taking a stab at the problem

[2022-01-09 07:41] jesseduffield commented on #260
@VProfirov that should be an easy fix. Happy to accept a PR for this, and give any guidance needed

[2022-01-10 05:29] #255 closed, assigned to nobody

[2022-01-11 17:27] glendsoza opened #293 "[Feature Request] Creating a seperate context to display just environment variables in the container panel"
**Is your feature request related to a problem? Please describe.**
Usually, applications running inside the docker container are configured using environment variables, hence I usually find myself checking environment variables set in the container

Currently, if I want to see environment variables for a container I need to go to the `Config` section and looks for `Env` section

It would be great

[2022-01-12 12:26] jesseduffield commented on #293
I'm on board with this idea. Happy to review a PR :)

[2022-01-12 12:26] jesseduffield commented on #290
I believe VSCode already has its own container management thingo. Not sure that we would gain much by adding vscode support ourselves

[2022-01-12 17:06] glendsoza commented on #293
Here is the PR https://github.com/jesseduffield/lazydocker/pull/295, please let me know your thoughts on this

[2022-01-13 21:55] danielcompton opened #296 "High CPU usage on Docker VM when lazydocker is running"
**Describe the bug**

When I start lazydocker against an idle macOS Docker Desktop install, CPU usage goes from ~2% to over 100%.

**To Reproduce**

This is reproducible whether "Use the new Virtualisation framework " is enabled or disabled in the Docker settings.

1. Start Docker Desktop for Mac
2. Ensure no containers are running
3. Open Activity Monitor
4. Observe CPU usage of `qemu-system-aarc

[2022-01-14 08:00] bravmi opened #298 "Correct previous view behaviour"
First of all thanks a lot for your work <3
And an excuse to dig deep(er) into go! :)

**Return from shell**

Let's say we start at the containers view
// action: current view - previous views stack (from the top)
init: containers - []
switch to: images - [containers]
switch to: containers - [images]
shell and back: images - []
But I think it makes much more sense to stay at containers from where w

[2022-01-15 10:19] glendsoza commented on #260
Here is a PR which tries to add this functionality https://github.com/jesseduffield/lazydocker/pull/299

[2022-01-17 21:55] dolorosus commented on #243
Same here. Lazydocker is unusable with the default theme.

[2022-01-18 01:28] #224 closed

[2022-01-18 13:29] gekoke opened #301 "Allow navigating panes with the number keys"
Whenever I use https://github.com/jesseduffield/lazygit, I navigate through the panes using the number keys (1-5) instead of mashing H or L. Whenever I use lazydocker, I immediately notice the lack of these hotkeys. Is there any reason why this shouldn't also be supported for lazydocker?

[2022-01-19 22:15] #293 closed

[2022-01-24 17:16] perezzini opened #303 "Question: save containers' logs"
Hi,

Simple question. Is there any way, through a keybinding, to download/save a container's current logs?

Thanks in advance!

[2022-01-27 00:12] typkrft opened #304 "Change Actively Selected Line Color"
Is it possible to change the color of the actively selected line. It's extremely hard to see. I looked through the dock for color/text/line and other keywords to see if I could find anything, but did not. It's possible I missed something so I thought I'd post here instead of filing an bug/feature.

Thanks for the great software!

Picture for reference.
Default Settings, Dracula theme in kitty.
<im

[2022-01-27 11:17] metronidazole commented on #218
Does anyone still have this issue when using the docker container on synology?

[2022-01-27 22:33] das-g opened #305 "0.13 released?"
According to [repology](https://repology.org/project/lazydocker), 0.13 has been released and is available on Homebrew and Void Linux x86_64. However, there's no 0.13 entry on https://github.com/jesseduffield/lazydocker/releases, only a [Git tag `v0.13`](https://github.com/jesseduffield/lazydocker/releases/tag/v0.13).

[2022-01-29 18:52] miku86 commented on #261
How can we move forward with this?

[2022-01-30 02:58] NotFluffy opened #306 "No cpu or logs updating"
**Describe the bug**
Same problem as #15
No logs showing in log window
CPU usage not updating
Everything else seems to be working as it should.

**To Reproduce**
Fresh install docker on fresh install debian vm
Started with docker run --rm ....

**Desktop (please complete the following information):**
 - OS: Debian 11.2
 - Lazydocker Version .12 (Latest)

[2022-02-01 06:51] pratikbalar commented on #306
+1

[2022-02-01 08:26] fellnerse commented on #279
Yes pls update

[2022-02-03 14:29] himansh-u opened #308 "An error occurred!"
![Screenshot (365)](https://user-images.githubusercontent.com/92078182/152362190-33328bde-50cc-46ef-9a03-2fc722d0add6.png)

*errors.withStack error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.25/images/json: open //./pipe/docker_engine: The system cannot find the file specified. In the default daemon configuration on Windows, the docker client must be run elevated to connect. This

[2022-02-03 15:25] meisenring opened #309 "Custom commands can't be opened when there are no items in the list"
**Custom commands can't be opened when there are no items in the list (containers, images, volumes, services respectively).**

I'm not sure whether this is a bug report or feature request. For my use case, it feels like a bug, but I can see how it could be intended behavior.

**To Reproduce**
Add some custom command to the `~/.config/lazydocker/config.yml`:

[code]

On an empty "Containers" list (

[2022-02-05 16:16] ThomasLachaux commented on #304
I also have the same problem with Nord Theme, and therefore, not usable. It is also discussed in the issue #243.

I wasn't able to find the code section where the selection color is applied. Does this depends from another library ?

[2022-02-07 09:57] argshook commented on #283
hello, i have the same issue, but can workaround it with

[code]

shell alias can help hiding this, i have this in my `.zshrc`

[code]

thanks for the awesome `lazydocker` project!

[2022-02-07 17:57] ThomasLachaux commented on #243
Hey ! I forked the repo and changed one line in the gocui dependency to a high contrast.

The release is available here if you want to get it or build it https://github.com/ThomasLachaux/lazydocker-high-contrast/releases/tag/v0.13-high-contrast

![reverse](https://user-images.githubusercontent.com/21559770/152844828-1791904d-a01e-47bb-9747-a3665bb04e4f.png)

[2022-02-07 17:58] ThomasLachaux commented on #304
By the way, I've just forked the repo to add this option.
![reverse](https://user-images.githubusercontent.com/21559770/152845053-f4b137b8-458a-4373-ba89-2127e969baf1.png)

More info here https://github.com/jesseduffield/lazydocker/issues/243#issuecomment-1031752703

[2022-02-07 18:07] typkrft commented on #243
@ThomasLachaux so good! thank you!

[2022-02-07 22:47] ThomasLachaux commented on #243
@dolorosus I think it will be complicated, as I forked a lazydocker library, gocui (https://github.com/ThomasLachaux/gocui-high-contrast) to have this result. I think it will be complicated to have an option to enabled this high contrast mode or not.

As I didn't change a lot on the lazydocker library ([as you can see](https://github.com/ThomasLachaux/lazydocker-high-contrast/commit/ef965bac3e34e1

[2022-02-08 12:50] milushov commented on #287
Hey I'm wondering the same, any advice would be helpful

[2022-02-08 12:53] milushov commented on #287
I found actually https://github.com/jesseduffield/lazydocker/pull/116

There are sequence of hotkeys: `ctrl-p ctrl-q`

[2022-02-11 03:00] akshayamaldhure opened #311 "Compatibility with colima"
I've replaced Docker Desktop with [lima](https://github.com/lima-vm/lima/)/[colima](https://github.com/abiosoft/colima). All the docker cli commands work fine. However, running `lazydocker` returns this.

[code]

I tried restarting `colima`, but no luck.

[2022-02-11 21:05] ahvargas commented on #311
@akshayamaldhure  I found a work around .
1. Find out your local unix socket via : `docker context ls` .You need docker endpoint something like `unix:///Users/youruser/.colima/docker.sock`
2. Point `DOCKER_HOST` variable before invoking lazydocker :
[code]
3. Profit ?

[2022-02-14 09:40] akshayamaldhure commented on #311
That works. Thanks a lot! 🙇‍♂️

[2022-02-14 09:40] #311 closed

[2022-02-15 07:23] clemthi commented on #266
(Sorry for late answer)
Did you configure dockerd to be started on WSL instance start and without password (as described in the last sections of the installation guide you refer to)?

[2022-02-17 14:04] TheAxelander commented on #270
In it's current version the install script doesn't work if you run it directly with root (that's at least my experience). Yes, it installs lazydocker to `~/.local/bin` (which would be the same like `/root/.local/bin`) but then you are still unable to execute it globally. At the end I had to move it manually to `/usr/local/bin`.

In addition you always have a "left-over" lazydocker in the folder fr

[2022-02-21 17:03] dvjones89 commented on #289
Hi, folks 👋  I'm seeing a very similar (if not identical) issue. In my case, when launching `lazydocker` from the same directory as my `docker-compose.yml` file, the "projects" panel of `lazydocker` usually shows me the "friendly" for each service (read from the `docker-compose.yml` file. For example, `postgres`.

Every now and again, for reasons I haven't yet been able to isolate, the "projects"

[2022-02-21 17:16] dvjones89 commented on #289
A quick update, I've just found that the above issue resolved itself after I manually started all of my containers via the `docker-compose` cli
[code]
Now when I open `lazydocker`, all the containers in the "services" panel display with their "friendly" name, as expected:
![Screenshot 2022-02-21 at 17 15 21](https://user-images.githubusercontent.com/1914715/155001160-9196e081-c9e9-409b-8913-f647e6

[2022-02-21 22:49] jesseduffield commented on #289
hmm I haven't ever had this problem myself. I'm afraid I'm quite busy at the moment so can't do a deep dive any time soon but am available to answer any questions

[2022-02-22 05:33] den-is commented on #273
@jesseduffield is it possible to fix that, that should be taking much time and is not touching actual application's logic and code

[2022-02-22 07:35] jesseduffield commented on #273
@den-is apologies I've made the grave error of maintaining two open source repos haha: lazygit certainly gets a lot more love.

As for this issue, it's a result of goreleaser using the deprecated bottling approach. That was fixed in goreleaser back in [october](https://github.com/goreleaser/goreleaser/issues/2595). We always use the latest goreleaser on release, however our CI is currently failing

[2022-02-22 11:19] dvjones89 commented on #289
Understood, thanks for the reply, @jesseduffield! I'm a ruby developer and haven't (yet) ventured into the world of `go`, but perhaps this issue will be my jumping-off point. If I were to try and pick-up a bug fix or two, do you have any issues that feel like a good place to start? Quick-fixes, so to speak.

[2022-02-22 22:46] jesseduffield commented on #289
@dvjones89 nice I'm also a ruby dev in my day job. I'll do an audit of the issue boards (hopefully today) to chuck some good-first-labels on issues which should help

[2022-03-10 07:19] omaksi commented on #273
I've just tried installing and I'm actually getting an error for this, and it won't install from your tap.

[code]

Installing from core works OK.

[2022-03-11 07:20] krmbzds commented on #305
This also breaks [lazydocker plugin](https://github.com/comdotlinux/asdf-lazydocker) for [asdf-vm](https://github.com/asdf-vm/asdf) when `latest` version is used: `asdf install lazydocker latest`

[2022-03-13 05:18] NurdinDev commented on #225
I'm using Alacritty and Tmux and I have the same problem, I set this line `set -g default-terminal "screen-256color"` in my tmux.conf and it's working

[2022-03-14 15:14] hugalafutro opened #314 "Where does lazydocker obtain the "Project" string?"
Hi,
I got all my docker stuff in ~/docker/[container_name] Usually I cd into a stack's subdir and then run lazydocker and it displays the subdir's name as "Project" in top left corner.

I got 1 stack (librenms) that misbehaves. When I run lazydocker in ~/docker/librenms, for split second it will show (correctly) librenms, then it will change to nextcloud. I was wondering why, where does lazydocker

[2022-03-19 21:34] jnovek opened #315 "`asdf install latest` does not work because there is no 0.13 release on github"
When I attempt to install lazydocker 0.13 using asdf-vm the URL returns a 404.

I'm on Ubuntu 21.04 attempting to install lazydocker 0.13 via asdf.

This should be easy to resolve by doing a github release for 0.13.

**To Reproduce:**
Install using "0.13" or "latest" using asdf on command line.

If you've already attempted to install 0.13, asdf additionally complains that the directory already exi

[2022-03-23 01:41] danielcompton opened #316 "Add config to hide Docker repo prefix from image names"
**Is your feature request related to a problem? Please describe.**

We use ECR for our docker images. The Docker repo URL for an image is in the format `123456789012.dkr.ecr.us-east-1.amazonaws.com/<repo>`. This long prefix pushes the rest of the UI off the screen.

**Describe the solution you'd like**

A config option where we could replace a substring in the Docker image name. It would allow som

[2022-03-23 19:55] oalders opened #318 "go:linkname must refer to declared function or variable"
**Describe the bug**
Cannot `go install github.com/jesseduffield/lazydocker@latest` on macOS 12.3 with Go 1.18

**To Reproduce**
Steps to reproduce the behavior:
1. `go install github.com/jesseduffield/lazydocker@latest`

**Expected behaviour**
I expected an install without errors. 😄

**Screenshots**
[code]
**Desktop (please complete the following information):**
 - OS: macOS 12.3
 - Lazydocker Ve

[2022-03-24 08:06] peterkracik opened #319 "Show container ports"
**Is your feature request related to a problem? Please describe.**
I would like to see ports of running containers.

**Describe the solution you'd like**
It would be nice to have an additional column in the Containers or Services panel to show internal/exposed ports. I guess it wouldn't be a problem to implement, maybe a little bit tricky from the UI pov, as there's not much room for that in the c

[2022-03-30 03:15] trinitronx opened #320 "Homebrew tap syntax deprecation: lazydocker: Calling bottle :unneeded is disabled! There is no replacement."
**Describe the bug**
This repo's Homebrew tap appears to be broken due to a deprecated syntax: `bottle :unneeded`

**To Reproduce**
Steps to reproduce the behavior:
1. Run '`brew tap  jesseduffield/lazydocker`'
2. See error:

[code]

**Expected behaviour**

Homebrew's `brew tap` command should succeed and install the tap.

**Screenshots**
N/A

**Desktop (please complete the following information):

[2022-03-30 03:17] trinitronx commented on #320
Note:  This project appears to be using GoReleaser to generate the Homebrew Tap ruby syntax.  This has been fixed upstream in GoReleaer: goreleaser/goreleaser#2595

[2022-03-31 15:27] Morakhiyasaiyam opened #321 "Manually difine docker.sock location"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am running docker binnery with arm64 termux and installed lazydocker with go install and i can run lazydocker it self but my docker.sock is running on different folder then default /var/run/docker.sock so it is giving error
How can i conn

[2022-04-08 10:30] cryoff commented on #306
I am having the same problem when running `lazydocker` using `docker run`

[2022-04-18 20:13] fcsgehrke opened #323 "CPU Usage"
![image](https://user-images.githubusercontent.com/5633256/163870647-2323c6cd-34df-4bc3-8c69-101bb94b1846.png)

[2022-04-18 20:14] fcsgehrke commented on #323
Why all this CPU usage ? 60% all the time.

Running Linux Mint 20.3.

[2022-04-26 14:25] SethFalco commented on #215
Just noting that I don't think this is just a macOS thing.
Shift + scroll in general is used for horizontal scrolling.

I'm not sure if most terminal emulators support this, though. 🤔

Regardless it'd be handy if this is posssible.

[2022-05-01 17:14] DanielPower commented on #304
I'm also using Kitty terminal. With the Tokyo Night theme. For me it's also impossible to tell which line is selected.

[2022-05-09 10:03] jesseduffield commented on #323
PR soon to be merged https://github.com/jesseduffield/lazydocker/pull/324

[2022-05-09 13:06] jesseduffield commented on #323
closing now that https://github.com/jesseduffield/lazydocker/releases/tag/v0.17.1 is out. Let me know if the issue persists

[2022-05-09 13:06] #323 closed

[2022-05-09 13:09] jesseduffield commented on #249
The latest release should fix this issue: https://github.com/jesseduffield/lazydocker/releases/tag/v0.17.1

I'll close this off but let me know if the issue persists and I'll reopen

[2022-05-09 13:09] #249 closed

[2022-05-09 13:33] mark2185 commented on #273
I have a `mac` lying around, what do I need to do? Just `brew install lazydocker`?

[2022-05-09 13:34] jesseduffield commented on #273
Nice. The core homebrew repo is yet to merge the lazydocker PR but you can test out the tap like so:
[code]

[2022-05-09 13:41] jesseduffield commented on #273
Woohoo! Thanks @mark2185 , let's close this off

[2022-05-09 13:41] #273 closed

[2022-05-09 19:30] jwesemann opened #327 "Arm build not working anymore"
**Describe the bug**
Following the build instructions directly from the git-repo as described in Readme.MD -> Docker -> "Click if you have an ARM device" fails on rapsberry pi with error message

`Sending build context to Docker daemon  11.22MB
Step 1/29 : ARG BASE_IMAGE_BUILDER=golang
Step 2/29 : ARG ALPINE_VERSION=3.10
Step 3/29 : ARG GO_VERSION=1.18
Step 4/29 : FROM ${BASE_IMAGE_BUILDER}:${GO_V

[2022-05-09 23:29] jesseduffield commented on #327
hmm looks like there's no docker image for go 1.18 yet?

[2022-05-10 09:09] paper42 commented on #327
There is one, but not for alpine 3.10, it will have to be updated to 3.15.

[2022-05-10 11:21] jesseduffield commented on #327
Thanks, I'll fix that up now

[2022-05-10 11:36] jesseduffield commented on #327
Should be good now, could you confirm @paper42 @jwesemann ?

[2022-05-10 12:32] jesseduffield commented on #304
This is a solved problem in lazygit so implementing here should just be a matter of copy+pasting code (or perhaps extracting common code into a shared package).

If you look in `pkg/theme/theme.go` in https://github.com/jesseduffield/lazygit that's a good starting point.

[2022-05-10 12:35] jesseduffield commented on #318
This is now fixed

[2022-05-10 12:36] jesseduffield commented on #320
This is now resolved

[2022-05-10 12:36] #320 closed

[2022-05-10 12:38] jesseduffield commented on #305
This should now be resolved. Let me know if that's not true and I'll reopen

[2022-05-10 12:38] #305 closed

[2022-05-10 12:40] jesseduffield commented on #314
See the discussion in this PR thread: https://github.com/jesseduffield/lazydocker/pull/88

We're pulling that project name based on the 'com.docker.compose.project' tag from docker inspect

[2022-05-10 12:45] jesseduffield commented on #316
This should be fairly straightforward to implement so I'm chucking a 'good-first-issue' label on it. If anybody wants to take a stab and needs some pointers let me know!

[2022-05-10 12:46] jesseduffield commented on #225
This is now resolved on master, closing :)

[2022-05-10 12:46] #225 closed

[2022-05-10 13:20] jesseduffield commented on #283
closing as fixed now that we're using tcell (on latest master). Let me know if the issue persists on your end and I'll reopen

[2022-05-10 13:20] #283 closed

[2022-05-10 13:22] jesseduffield commented on #279
latest release has darwin arm64 so I'll close this off :)

[2022-05-10 13:22] #260 closed

[2022-05-10 13:22] jesseduffield commented on #290
closing

[2022-05-10 13:22] #290 closed

[2022-05-10 13:25] jesseduffield commented on #254
This is now fixed, closing

[2022-05-10 13:25] #254 closed

[2022-05-10 13:35] #257 closed

[2022-05-10 13:37] jesseduffield commented on #80
I've just bumped the gocui version which contains various improvements to rendering logic. Would anybody be able to test this out (on the master branch)?

[2022-05-10 13:40] jesseduffield commented on #219
this is fixed on master (image view will refresh itself when needed)

[2022-05-10 13:40] #219 closed

[2022-05-10 13:41] jesseduffield commented on #196
@jgonyea could you try this again with the latest release?

[2022-05-10 13:46] jesseduffield commented on #193
Agreed: there should be a keybinding for toggling timestamps while the main panel is focused. 't' would do fine.

[2022-05-10 14:24] jesseduffield commented on #327
No worries :) closing

[2022-05-10 14:24] #327 closed

[2022-05-10 14:50] oalders commented on #318
Confirmed. Thanks, @jesseduffield!

[2022-05-10 18:19] das-g commented on #305
There's still no 0.13 entry in the list of releases, it seems: https://github.com/jesseduffield/lazydocker/releases?q=0.13&expanded=true

[2022-05-10 18:56] danielcompton commented on #296
This is hugely improved, thanks very much! With the new Virtualisation framework I am at ~1% CPU at idle, and ~10% with lazydocker running. With the old QEMU based virtualisation it is 1-2% CPU at idle, and 50% with lazydocker running.

Side note: It seems like (as of 10 months ago, according to Reddit) the new Virtualization framework still has a lot of work to go with disk performance: https://w

[2022-05-10 22:34] jgonyea commented on #196
Works for me! Thanks!

[2022-05-10 22:34] #196 closed

[2022-05-10 23:43] jesseduffield commented on #305
@das-g is there a particular reason why you want to use 0.13 compared to the latest version?

[2022-05-10 23:45] jesseduffield commented on #296
Awesome. I'll close this issue off then. There's still more gains to be made in CPU usage but I'll capture that in a separate issue

[2022-05-10 23:45] #296 closed

[2022-05-11 00:06] rgwood opened #333 "Segfault when launching Lazydocker without root"
**Describe the bug**
When launching Lazydocker, it immediately fails with the following text:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Launch lazydocker by typing `lazydocker` and hitting Enter
2. See error

**Desktop (please complete the following information):**
 - OS: Linux (Fedora 36, x64)
 - Lazydocker Version: 0.17.1
 - The last commit id: `011824a9b77874c89ca8a2825be4a9

[2022-05-11 01:56] #333 closed

[2022-05-11 06:45] das-g commented on #305
No, I don't have such a reason and don't plan to use 0.13 now that newer versions are available. I was just reacting to

as I thought "resolved" would mean that 0.13 would now be available like the other versions on the releases list. If 0.13 cannot appear there or if you've decided it shall not appear there, that's also fine with me.

[2022-05-11 09:16] jesseduffield commented on #193
On master you can now hide timestamps via:
[code]

Closing

[2022-05-11 09:16] #193 closed

[2022-05-11 09:20] jesseduffield commented on #274
This is now configurable. See https://github.com/jesseduffield/lazydocker/pull/336

[2022-05-11 09:20] #274 closed

[2022-05-11 09:21] jesseduffield commented on #230
Closing this because it looks like it's resolved. Let me know if that's not the case

[2022-05-11 09:21] #230 closed

[2022-05-11 09:52] jesseduffield commented on #276
Should be fixed on master. Let me know if that's not the case!

[2022-05-11 09:52] #276 closed

[2022-05-11 09:57] jesseduffield commented on #253
with the latest release, brew doctor works fine for me. I'll close this off but let me know if you still have the issue and I'll reopen

[2022-05-11 09:57] #253 closed

[2022-05-11 09:58] jesseduffield commented on #220
On latest master we now gracefully wait for docker to start instead of crashing. Closing

[2022-05-11 09:58] #220 closed

[2022-05-11 09:59] jesseduffield commented on #135
This is fixed now

[2022-05-11 09:59] #135 closed

[2022-05-11 10:00] #70 closed

[2022-05-11 10:00] jesseduffield commented on #51
I haven't had this problem for a while so I'll close this off. If other people still get the issue let me know and we can reopen

[2022-05-11 10:00] #51 closed

[2022-05-11 10:03] jesseduffield commented on #262
Is this still an issue on the latest release @apmillen @xnng ?

[2022-05-11 10:10] jesseduffield commented on #211
@frakman1 could you try this again on the latest master?

[2022-05-11 10:11] jesseduffield commented on #192
Should be fixed now on master. Let me know if anybody still gets the same issue

[2022-05-11 10:11] #192 closed

[2022-05-11 10:12] #227 closed

[2022-05-11 10:12] jesseduffield commented on #242
Fixed on latest master

[2022-05-11 10:12] #242 closed

[2022-05-11 10:17] jesseduffield commented on #173
The latest dockerfile includes docker so I believe this can be closed off. Let me know if you're still having issues

[2022-05-11 10:17] #173 closed

[2022-05-11 10:17] jesseduffield commented on #188
Fixed on latest master

[2022-05-11 10:17] #188 closed

[2022-05-11 10:20] jesseduffield commented on #160
Should be fixed on latest master

[2022-05-11 10:20] #160 closed

[2022-05-11 10:20] #152 closed

[2022-05-11 10:27] jesseduffield commented on #100
as of https://github.com/jesseduffield/lazydocker/pull/339 we're now defaulting to wrapping the main panel

[2022-05-11 10:27] #100 closed

[2022-05-11 10:30] jesseduffield commented on #119
Nobody else has reported this issue since this issue was first raised so I'm going to assume it's fixed. If not we'll reopen

[2022-05-11 10:30] #119 closed

[2022-05-11 10:31] jesseduffield commented on #72
I'm gonna close this due to staleness. If you're still experiencing the issue I'll reopen

[2022-05-11 10:31] #72 closed

[2022-05-11 10:33] jesseduffield commented on #73
I believe this is now implemented, so I'm closing. If I've misunderstood, let me know and we can reopen

[2022-05-11 10:33] #73 closed

[2022-05-11 10:34] jesseduffield commented on #67
I'm gonna close this off because I don't think there's actually a strong need for it

[2022-05-11 10:34] #67 closed

[2022-05-11 10:35] jesseduffield commented on #33
This is now implemented in lazygit (lazydocker's older brother) so porting it here should be quite easy (much of the functionality is in gocui which lazydocker imports).

[2022-05-11 14:44] frakman1 commented on #211
Yes, this works now. Thank you for the update.

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/5826484/167877610-9340ff56-7194-4d41-854a-dbef4735df84.png">

[2022-05-11 14:44] #211 closed

[2022-05-11 23:55] dmi-dmi-dmi opened #341 "Exec shell command doesn't appear in the menu for a service"
**Describe the bug**
Exec shell command doesn't appear in the menu for a service

**To Reproduce**
Steps to reproduce the behavior:
1. Focus on Services panel
2. Open menu (`x`)
3. Observe that there is no Exec shell entry

**Expected behaviour**
I expect Exec shell to be present for services too. Before lazydocker had custom command that opened shell and it worked for both standalone containers a

[2022-05-12 09:13] jesseduffield commented on #341
This is an easy feature to implement given we already have the code there for containers. in `pkg/gui/keybindings.go` we have
[code]

`handleContainersExecShell` contains the logic for finding the current container and then running the shell on it. We should yank that logic out into a function which takes the container, so that we can then call that same function from a service-based equivalent ca

[2022-05-12 09:14] jesseduffield commented on #205
closing due to staleness. I don't think we'll have this issue again but if anybody comes across it let me know

[2022-05-12 09:14] #205 closed

[2022-05-12 14:04] hugalafutro commented on #314
I see thanks for the explanation, must've been something with the image back then, I've since moved the stack to different host and forgot about the issue. Just checked and the inspect and project name are now ok
[code]
and the lazydocker project name comes up as librenms

[2022-05-12 14:04] #314 closed

[2022-05-12 15:51] EnriqCG opened #344 "v0.18.1 homebrew formulae for arm64 failed"
I noticed that the arm64 build for the most recent 0.18.1 release failed. See https://github.com/Homebrew/homebrew-core/pull/101300 and https://github.com/Homebrew/homebrew-core/runs/6388163330?check_suite_focus=true

I am unfamiliar with how Homebrew releases work, but I am happy to fix it if someone provides pointers 😃

[2022-05-15 15:48] alexanderadam opened #345 "Flatpak package on Flathub"
**Is your feature request related to a problem? Please describe.**

It would be great if there would be [a release on Flathub](https://flathub.org/apps/search/lazydocker) since Flatpak is most probably the Desktop package format of the future.

**Describe the solution you'd like**

 [a release on Flathub](https://flathub.org/apps/search/lazydocker)

**Describe alternatives you've considered**

I g

[2022-05-17 12:52] EnriqCG commented on #344
This has been fixed by bumping the go version. See: https://github.com/Homebrew/homebrew-core/pull/101300

[2022-05-17 12:52] #344 closed

[2022-05-19 07:03] #341 closed

[2022-05-20 16:43] DonRichards opened #347 "Breaks with Linux Docker Desktop"
**Describe the bug**
Running Docker Desktop on Linux lazydocker can see a service but shows no container.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Docker Desktop for linux.
2. Run a docke-compose build
3. Check service status
4. See "No Container" under the Logs/stats/Container Env/Container Config/Top sections

**Expected behaviour**
The same info as with docker.io

**Screens

[2022-05-20 17:52] AddictArts opened #348 "podman docker event stream unexpected EOF"
Run lazydocker, rootless podman container, receiver repeated messages for unexpected EOF.

1. Run a podman rootless container any.
2. Run lazydocker

macOS, terminal

[2022-05-25 06:06] mark2185 opened #349 "The CPU usage graph is too detailed"
**Describe the bug**
I get CPU usage in to the power of -10. (image attached)

**To Reproduce**
Run `lazydocker` on a beefy server with a lot of CPU power

**Expected behaviour**
Tell me it's using `0.00%` rather than `0.000000003%
`
**Screenshots**
![image](https://user-images.githubusercontent.com/8365241/170191434-3f2b7886-371a-49c3-86cb-5b3138c12c06.png)

**Desktop (please complete the followi

[2022-05-25 06:09] #349 closed

[2022-05-25 18:02] jtraub opened #350 "Shell is not executed for some containers"
**Describe the bug**
Shell is not executed for some containers

**To Reproduce**
Steps to reproduce the behavior:
1. Pull `bitnami/openldap` image with `docker pull bitnami/openldap`
2. Launch it (`docker run --rm bitnami/openldap`)
3. Launch lazydocker
4. Select running openldap container and press `E` to get into container shell

**Expected behaviour**
You are dropped into container shell.

**Ac

[2022-05-28 10:57] thevan96 opened #351 "lazydocker with docker-desktop"
I install docker-desktop for linux, but I love lazydocker because I like controlling docker in the terminal.
How to connect lazydocker with docker-desktop?

https://docs.docker.com/desktop/linux/install/#differences-between-docker-desktop-for-linux-and-docker-engine

[2022-06-02 00:54] eruizc-dev commented on #303
I feel that's a more docker thing than a lazydocker one. You can always dump logs with `docker container logs <id> >> /tmp/dump.log 2>&1`. You can also try this custom config (I have not tried it, so it might need some adjustments)

[code]

[2022-06-02 01:10] #303 closed, assigned to nobody

[2022-06-07 19:46] ser-drephs commented on #48
Any news on this one?

[2022-06-08 05:16] jesseduffield commented on #48
This is totally do-able: we can just copy the approach that lazygit uses: https://github.com/jesseduffield/lazygit/blob/master/pkg/config/user_config.go

Any takers?

[2022-06-08 07:57] FantasticFiasco opened #353 "Docker Desktop Extension?"
**Describe the solution you'd like**
With the open beta of [Docker Desktop Extensions](https://docs.docker.com/desktop/extensions/), have you considered extending this fantastic UI to also run on Docker Desktop? It's a far stretch I imagine, and I wouldn't hold it against you if you said it was outside the scope of the project.

[2022-06-13 01:57] pythoninthegrass opened #354 "Custom command passing a string literal"
**Describe the bug**
Running an ad hoc `docker run` command in the terminal works. Passing the same command to lazydocker as either a scalar (folded/literal) or inline fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom command in `config.yml`
[code]
    or
[code]
2. Open lazydocker
3. Run the command
4. Raises error:
[code]

**Expected behaviour**
It should interpolate/ex

[2022-06-13 12:10] tuxflo commented on #266
I think this could be closed, because I'm running WLS 2 with lazydocker for about two months now without any issues. (just regular docker inside WSL, no Docker Desktop)

[2022-07-04 00:37] skanehira commented on #351
Is there has `/var/run/docker.sock` ?
If it exist, I think you can run lazydocker.

[2022-07-04 00:45] skanehira commented on #321
@Morakhiyasaiyam
You can specify socket path with `DOCKER_HOST` :)

[code]

[2022-07-04 14:06] skanehira commented on #354
`$(pwd)` have to run in the shell, but lazydocker seems like run command directly.
I think this is not bug, but run commands through shell will be more convenient I think.

[2022-07-05 01:48] markhagemann commented on #304
Hey @mbwhite can you try setting `intenseTextStyle` to `bold` or `all` in your WSL2 profiles list.

![image](https://user-images.githubusercontent.com/21050889/177233457-4f7ca746-a32b-428b-8095-07b332246ae2.png)

It might complain about it not being a valid property in VSCode but it works for me and fixes the issue with lazygit / lazydocker in Windows Terminal Preview. I am not sure if this proper

[2022-07-05 09:41] Morakhiyasaiyam commented on #321
Thanks for your reply
I just used " mount -bind " and bind that my modified /var/run folder to official folder location and everything worked great
And I can confirm that lazydocker can work on termux but ui is little messy

[2022-07-07 03:16] pythoninthegrass commented on #354
What would you suggest the workflow should be if this isn't a bug @skanehira?

[2022-07-08 05:49] thevan96 commented on #351
Yes, it exist, but i can't connect lazydocker because docker-desktop run in VM

[2022-07-21 12:24] Deliganli commented on #286
as a workaround I added below to my config to make scrolling feel more like in vim

[code]

[2022-07-22 18:55] ColonelPan1k opened #359 "[Feature Request] Make log output stick to the bottom after scrolling up"
**Is your feature request related to a problem? Please describe.**
Yes, as far as I know, there's no way to make the terminal stick back to the bottom after scrolling up.  I see there's
the ability to scroll past the bottom, but doing this doesn't cause the terminal output to stick.

**Additional context**
Default terminals will auto-stick to the bottom when scrolling down/scrolling past the last

[2022-08-14 23:03] NathanBaulch commented on #351
You need to enable WSL integration in your default WSL distro. You can find this under Settings | Resources | WSL Integration.

[2022-08-15 04:19] NathanBaulch opened #361 "Custom compose project name not handled properly"
Quite a few areas of lazydocker are broken when working with compose projects that were started with a custom project name, eg `docker compose -p foo up -d`. It looks like some of these can be fixed by conditionally adding the `-p` flag to the templates (project name context is not always available):

[code]

However project name context is not passed to the bulk commands so I wasn't able to "fix"

[2022-08-18 13:35] webysther commented on #306
When you install he start working, this is a permission issue, the install script for linux don't work properly in a ubuntu 22 LTS too, it put in local user bin but don't register at all in bash.

[2022-08-19 10:45] iulian0512 commented on #232
i have the same issue, i cannot copy text using text cursor, i am running ubuntu focal and lazydocker 0.18

[2022-08-31 08:33] birgersp opened #363 ""go get" installation fails: invalid character U+007E"
**Describe the bug**
Trying to run `go get github.com/jesseduffield/lazydocker`, but it fails with these error messages:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use golang version 1.13
2. Run `go get github.com/jesseduffield/lazydocker`
3. See error

**Expected behaviour**
The installation shouldn't fail.

**Screenshots**
Terminal output
[code]

**Desktop (please complete the

[2022-09-01 09:38] jareis commented on #351
a better solution is the one mentioned on
https://github.com/jesseduffield/lazydocker/issues/321#issuecomment-1173213912

[2022-09-02 10:33] #351 closed

[2022-09-07 13:13] amyb12345 commented on #353
If you do choose to pursue creating a Docker Extension, the team at Docker is available to support you. You can find us in the [Docker Community Slack](http://dockr.ly/slack) in #extensions, post issues on our [SDK repo](https://github.com/docker/extensions-sdk), or reach us via email [extensions@docker.com](mailto:extensions@docker.com).

[2022-09-08 04:06] #353 closed

[2022-09-16 15:47] jwesemann commented on #218
@metronidazole : Having exactly this old behavior on a synology 718+

[2022-09-20 07:41] peeter123 commented on #262
Looks like a docker-compose issue: https://stackoverflow.com/questions/66579446/error-executing-docker-compose-building-webserver-unable-to-prepare-context-un

[2022-09-22 14:21] eugenevd commented on #214
I'm using urxvt with solarized light theme and get something very similar to @dusty-phillips
In lazygit I sorted this with lightTheme, would be nice here

[2022-09-26 08:50] adamal commented on #57
To me, the current behaviour is so surprising I'd consider it a bug.

[2022-09-28 07:26] KostaGorod commented on #218
having this behavior on dockerized version on rocky 8.6

[2022-10-08 19:00] #316 closed

[2022-10-08 19:14] jesseduffield opened #369 "Make it clear that cheetsheets are auto-generated"
**Is your feature request related to a problem? Please describe.**
Sometimes somebody will raise a PR making manual changes to a cheatsheet file. These cheatsheet files are actually auto-generated and depend on files in pkg/i18n.

In [lazygit](https://github.com/jesseduffield/lazygit/blob/master/pkg/cheatsheet/generate.go#L71) we print a message at the top of the cheatsheet saying that it's auto-g

[2022-10-08 19:24] jesseduffield opened #370 "Check cheatsheet is up to date in CI"
**Is your feature request related to a problem? Please describe.**
In lazygit we have a cheatsheet [check script](https://github.com/jesseduffield/lazygit/tree/master/pkg/cheatsheet) which tells us whether the cheatsheet we currently have is in line with what would be generated by the cheatsheet generation script.

We want to port this over to lazydocker and also run it on CI (see the lazygit appr

[2022-10-08 19:29] jesseduffield commented on #57
This has been implemented in lazygit (see [here](https://github.com/jesseduffield/lazygit/blob/master/pkg/gui/context/menu_context.go#L104)) but not lazydocker. Unfortunately lazydocker is behind on some refactorings but it should be fairly straightforward to go through each menu item and add a keybinding for the key [here](https://github.com/jesseduffield/lazydocker/blob/master/pkg/gui/menu_panel

[2022-10-08 19:30] jesseduffield commented on #214
Fixed by https://github.com/jesseduffield/lazydocker/pull/362

[2022-10-08 19:30] #214 closed

[2022-10-08 19:32] jesseduffield commented on #363
@birgersp I suspect this is because your Go version doesn't have support for generics (introduced in go 1.18). The constraints package is specific to generics

[2022-10-08 19:46] jesseduffield opened #371 "Use "docker compose" instead of "docker-compose""
**Is your feature request related to a problem? Please describe.**
Docker compose V2 is baked into the docker binary since [April](https://www.docker.com/blog/announcing-compose-v2-general-availability/) this year, and V1 is deprecated. You invoke V1 via `docker-compose` and you invoke V2 via `docker compose`.

At the moment, users can change their config to use `docker compose` instead of `docker

[2022-10-08 19:50] pwnb0y commented on #371
assign it to me

[2022-10-08 20:39] jesseduffield commented on #354
I agree, we ought to run all custom commands in a shell so that things like $(pwd) can be evaluated. We do that currently with lazygit

[2022-10-08 20:47] jesseduffield commented on #354
The place we could update is [here](https://github.com/jesseduffield/lazydocker/blob/master/pkg/gui/custom_commands.go#L55). In lazygit we have a NewShell function which takes a command and wraps it in a shell invocation (see [here](https://github.com/jesseduffield/lazygit/blob/master/pkg/commands/oscommands/cmd_obj_builder.go#L54)) so we can copy that approach in lazydocker

[2022-10-10 01:44] jesseduffield commented on #304
I've made it so that the selected item has a blue background in https://github.com/jesseduffield/lazydocker/pull/372

[2022-10-10 01:45] jesseduffield commented on #321
Sounds like this is good to close. Lemme know if that's not true

[2022-10-10 01:45] #321 closed

[2022-10-10 01:52] jesseduffield commented on #287
This would be simply to implement: We would simply need to go to `pkg/gui/subprocess.go` and do the following:
* change the `runCommand` method to accept a string message argument
* add a string message argument to `runSubprocess` and pass it through to `runCommand`
* rename `runSubprocess` to `runSubprocessWithMessage` and then create a new `runSubprocess` method which calls `runSubprocessWithMes

[2022-10-10 01:54] jesseduffield commented on #80
Closing due to staleness. Please leave a comment if you still encounter this

[2022-10-10 01:54] #80 closed

[2022-10-10 01:56] jesseduffield commented on #270
I'm happy to accept a PR to address this issue

[2022-10-10 01:58] jesseduffield commented on #243
As of https://github.com/jesseduffield/lazydocker/pull/372 we now highlight the selected item via a blue background colour: https://github.com/jesseduffield/lazydocker/pull/372

If somebody could give that a go that'd be appreciated :)

[2022-10-10 01:59] jesseduffield commented on #298
This is fixed in https://github.com/jesseduffield/lazydocker/pull/372

[2022-10-10 02:01] jesseduffield commented on #264
Once we switch to using `docker compose` instead of `docker-compose` (see https://github.com/jesseduffield/lazydocker/issues/371) this won't be necessary.

You can also currently configure lazydocker to use `docker compose` in the config. I'll close this off. Let me know if I've missed anything

[2022-10-10 02:01] #264 closed

[2022-10-10 02:01] jesseduffield commented on #263
This is done in https://github.com/jesseduffield/lazydocker/pull/372

[2022-10-10 02:03] jesseduffield commented on #236
Apologies for the late reply @tuxpeople , is this still a problem?

[2022-10-10 02:05] jesseduffield commented on #233
duplicate of https://github.com/jesseduffield/lazydocker/issues/57

[2022-10-10 02:05] #233 closed

[2022-10-10 02:07] jesseduffield commented on #216
This is addressed in https://github.com/jesseduffield/lazydocker/pull/372 with a couple things:
* pressing '+' increases side bar size
* you can configure a default ratio between side bar and main panel with the `gui.sidePanelWidth` config key (default is 0.333)

[2022-10-10 02:08] jesseduffield commented on #216
https://github.com/jesseduffield/lazydocker/pull/372 is now in master. Lemme know if you want to re-open.

[2022-10-10 02:08] #216 closed

[2022-10-10 02:08] jesseduffield commented on #263
https://github.com/jesseduffield/lazydocker/pull/372 is now in master. Lemme know if you want to re-open.

[2022-10-10 02:08] #263 closed

[2022-10-10 02:08] jesseduffield commented on #298
https://github.com/jesseduffield/lazydocker/pull/372 is now in master. Lemme know if you want to re-open.

[2022-10-10 02:08] #298 closed

[2022-10-10 02:09] jesseduffield commented on #243
To keep things moving I've merged https://github.com/jesseduffield/lazydocker/pull/372. If anybody has issues with it let me know.

It hard-codes using blue as the background. If you want that to be configurable (for example to use reverse instead) please raise another issue

[2022-10-10 02:09] #243 closed

[2022-10-10 02:10] jesseduffield commented on #304
https://github.com/jesseduffield/lazydocker/pull/372 is merged to master. Let me know if you have any issues

[2022-10-10 02:10] #304 closed

[2022-10-10 02:11] jesseduffield commented on #319
https://github.com/jesseduffield/lazydocker/pull/372 is merged to master. Let me know if you have any issues

[2022-10-10 02:11] #319 closed

[2022-10-10 02:13] jesseduffield commented on #262
Does the issue go away if we set the following in the config:
[code]
If so, this will be fixed by https://github.com/jesseduffield/lazydocker/issues/371

[2022-10-10 02:13] jesseduffield commented on #262
At any rate, given that this is not an issue with lazydocker, I'll close this issue

[2022-10-10 02:13] #262 closed

[2022-10-10 02:14] jesseduffield commented on #266
Alright I'll close this off @tuxflo

[2022-10-10 02:14] #266 closed

[2022-10-10 02:18] jesseduffield commented on #259
You could run the command in a shell like `sh -c "my command"`. Thoughts?

[2022-10-10 02:23] jesseduffield commented on #235
Sorry for the very belated response @probablykasper . the `[2;K` form should be properly parsed now, but the `[1;G` form isn't implemented. This is all handled in `vendor/github.com/jesseduffield/gocui/escape.go` in the `parseOne` function. Happy to give guidance to anybody who wants to work on this

[2022-10-10 02:26] jesseduffield commented on #180
This is addressed in https://github.com/jesseduffield/lazydocker/pull/372

[2022-10-10 02:26] #180 closed

[2022-10-10 02:27] jesseduffield commented on #52
This is now fixed in https://github.com/jesseduffield/lazydocker/pull/372

[2022-10-10 02:27] #52 closed

[2022-10-10 02:28] jesseduffield commented on #178
If your concern is that these take up too much space, as of https://github.com/jesseduffield/lazydocker/pull/372 you can now increase the size of your selected panel, and you can also configure the panel to take up more space in an accordion-like effect with `gui.expandFocusedSidePanel: true`

[2022-10-10 02:30] jesseduffield commented on #168
This should now be resolved because we no longer delete any views (or remove them from the global view array) as of https://github.com/jesseduffield/lazydocker/pull/372

[2022-10-10 02:30] #168 closed

[2022-10-10 17:02] tuxpeople commented on #236
Hi @jesseduffield no worries. I don't know tbh, need to check. I'm on vacation this week without my laptop. It will be next week till I can check that.

[2022-10-10 18:19] gusandrioli commented on #369
I'll take this one.

[2022-10-10 18:32] jesseduffield commented on #369
@gusandrioli go right ahead :) Let me know if you need any pointers

[2022-10-10 18:55] gusandrioli commented on #370
I can take this one as well :)

[2022-10-10 18:59] jesseduffield commented on #370
Go right ahead @gusandrioli  :)

[2022-10-10 20:37] #369 closed

[2022-10-11 01:31] #370 closed

[2022-10-11 02:42] jesseduffield commented on #178
I'm gonna close this off but let me know if the solution doesn't satisfy your needs

[2022-10-11 02:42] #178 closed

[2022-10-11 03:37] jesseduffield commented on #267
The home key part of this is fixed in https://github.com/jesseduffield/lazydocker/pull/378

[2022-10-11 09:43] lackovic opened #380 "Add installation possibility with winget"
[winget](https://winget.run/search?query=lazydocker) is a package manager for Windows (similar to Chocolatey) developed by Microsoft which is recently getting more and more popular: would you consider adding the possibility to install lazydocker with it?

[2022-10-11 13:08] cinnamon-coder-hub opened #381 "lazydocker running in git-bash via Windows Terminal, but not inside standalone git-bash"
**Describe the bug**
When trying to run lazydocker inside a standalone git-bash shell,
through `./lazydocker.exe`, then nothing happens (no error and also no new input is possible, compare this with the first screenshot). on the other side, then git-bash is used within Windows Terminal,
then lazydocker can be run via `./lazydocker.exe` or `lazydocker` and will also start inside this embedded git-b

[2022-10-11 15:39] benalb opened #382 "0.19.0 tag, but no release"
There is a 0.19.0 tag, but there is no 0.19.0 realese. This happend previously [0.13](https://github.com/jesseduffield/lazydocker/issues/305)

This is more a heads up than a real issue, but still.

[2022-10-12 23:11] omnivagant commented on #236
The tests that are ran seem to run fine now, see https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/40097

[2022-10-12 23:22] jesseduffield commented on #236
Sweet :) I'll close this off. Thanks @omnivagant

[2022-10-12 23:22] #236 closed

[2022-10-13 01:03] jesseduffield commented on #382
Ah damnit my github token expired. Let me fix that up!

[2022-10-13 01:21] jesseduffield commented on #382
Fixed @benalb . I'll close this off

[2022-10-13 01:21] #382 closed

[2022-10-13 01:29] jesseduffield opened #384 "Allow sorting by column in list panels"
**Is your feature request related to a problem? Please describe.**
When there are a large amount of items in a list panel, it can be convenient to sort by a particular column. For example, you may want to know which images have the greatest size, so you'd want to sort by image size descending and look at what's at the top.

**Describe the solution you'd like**
As an example, if I'm in the images p

[2022-10-13 05:02] mark2185 commented on #384
But why? Different panel, different context, different action.

`o` might have a better function down the road, like _open_ something? Of course, the mapping doesn't have to make sense, but I'd somehow rather save up `o` for something "better". What about `z`?

[2022-10-13 05:13] jesseduffield commented on #384
although my examples above were for the image panel, the goal is to have this functionality for all list panels

[2022-10-13 05:13] jesseduffield commented on #384
good point about using 'o' to open something though

[2022-10-13 07:20] kbairak opened #385 "Hotkey for entering a running container's shell"
**Is your feature request related to a problem? Please describe.**
It is very useful to enter a running container's shell. A shortcut for this would be appreciated. I don't need this for myself as already have a workaround. I think it would be nice for others.

**Describe the solution you'd like**
A built-in hotkey that, when pressed on a service, enters the containers shell via `docker exec`.

**

[2022-10-13 07:21] mark2185 commented on #385
@kbairak Isn't that behind the `E` key?

The menu states `E    exec shell`

[2022-10-13 19:38] jesseduffield opened #386 "Update latest release changelog"
Just a reminder to myself

[2022-10-15 17:19] gusandrioli commented on #354
I'll tackle this one.

[2022-10-15 17:26] jesseduffield commented on #354
go ahead @gusandrioli :)

[2022-10-15 17:44] pythoninthegrass commented on #354
Appreciate the follow-up! 🙏

[2022-10-15 17:50] #386 closed

[2022-10-15 17:50] jesseduffield commented on #386
https://github.com/jesseduffield/lazydocker/releases/tag/v0.19.0

[2022-10-15 17:55] jesseduffield commented on #195
Alright homies the time has come for me to start on this feature

[2022-10-15 21:46] #153 closed

[2022-10-17 08:23] galiganu opened #388 "after upgrading to v0.19 i cannot see all containers running on current host"
hi
i have on my host multiple containers running, having the same service name in their docker-compose file; each docker-compose file has its uniq project_name set.
after upgrading to v0.19 i can only see one (random) container in lazyydocker services tab.
is there a setting where i can remove the services tab and have the previous behavior?
Thanks!

[2022-10-19 05:54] kbairak commented on #385
I hadn't discovered this before. Still, it only works on the "Standalone Containers" window, no the "Services" window.

[2022-10-21 09:25] #388 closed

[2022-10-21 09:28] galiganu commented on #388
it seems i had a docker-compose.yml file few folders up from where i execute lazydocker, and the services were filtered by that file.
cool,feature :)

[2022-10-23 10:15] hugalafutro opened #391 "No logs from random containers after updating to 0.19.0"
**Describe the bug**
I updated lazydocker on several pc/vm's and raspberry's and noticed when scrolling down several containers do not output any logs. docker compose logs -f or dozzle correctly display these. (Maybe related, but the installer script never worked properly for me, even when ran as root it ends up in home directory, so I usually run the script, then sudo mv ~/.local/bin/lazydocker /

[2022-10-23 21:44] jesseduffield commented on #195
I've got a WIP PR up for this now: https://github.com/jesseduffield/lazydocker/pull/392

[2022-10-24 10:48] hnbnh opened #393 "Change selected background color like lazygit"
**Is your feature request related to a problem? Please describe.**
Is there any options to change the selected background color? The default color looks bad in my terminal.

**Describe the solution you'd like**
Have a option like `lazygit`:
[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional c

[2022-10-24 17:44] birgersp commented on #363
That's probably it, then. I will try to pinpoint the issue and give a status update

[2022-10-25 19:37] jesseduffield opened #396 "Allow tagging, pushing, and pulling images"
**Is your feature request related to a problem? Please describe.**
It would be good if we could tag, push, and pull images from the images panel.

**Describe the solution you'd like**
* In the images panel when you press 't' it should bring up an input prompt for you to enter a tag and then upon pressing enter it should tag the selected image with that tag.
* When you press 'p' it should bring up

[2022-10-28 06:29] StefanoOcchetti commented on #391
Same happens to me, running LazyDocker with docker:

`docker run --rm -it -v //var/run/docker.sock:/var/run/docker.sock lazyteam/lazydocker`

[2022-10-30 14:07] 0n1cOn3 opened #397 "[Bug"
**Describe the bug**
run the binary download for lazydocker

**To Reproduce**
Steps to reproduce the behavior:
run the bash download command from the README on macOS Catalina

**Expected behaviour**
Run through.

**Screenshots**

![image](https://user-images.githubusercontent.com/27576311/198883004-20137c8b-b440-42b6-9666-9289498309a7.png)

**Desktop (please complete the following information):**

[2022-10-30 14:53] mark2185 commented on #397
Is that `install_update_LINUX` even intended to work on `macOS`?

[2022-10-30 15:09] 0n1cOn3 commented on #397
Of course not. Hell why has it been named LINUX :P

[2022-10-30 16:01] mark2185 commented on #397
So... this isn't a bug? It's not meant to be used on `macOS`, which is what you are trying to do.

[2022-10-30 16:04] 0n1cOn3 commented on #397
It is a bug, cause in the Guide it's set also for OSX.

Shown here:

![image](https://user-images.githubusercontent.com/27576311/198888830-26f7b8a8-db58-467e-aa84-1b7ff0f61518.png)

[2022-10-31 15:00] NedkoHristov opened #398 "brew install lazydocker don't work"
`brew install lazydocker` don't work. The message is:
[code]

I'm running it on MacBook Pro M1. Docker is running.

[2022-10-31 15:03] 2k16daniel opened #399 "[BUG] Lazydocker displaying wrong container name"
**Describe the bug**
Lazydocker displaying wrong container name, even on Config tab

**Expected behaviour**
Container name has to be the same with  "docker container ls" output

**Screenshots**
Output by docker
![Screenshot from 2022-10-31 22-48-57](https://user-images.githubusercontent.com/55439966/199039785-bcb0ccf0-e03f-421c-ad4e-a894a79deec4.png)

lazydocker
![Screenshot from 2022-10-31 22-49-

[2022-10-31 15:04] 2k16daniel commented on #398
You must run your docker engine first  ( dockerd )

[2022-11-02 09:37] listik commented on #398
Same thing was happening to me, it's a bug fixed two days ago; see [changelog](https://docs.docker.com/desktop/release-notes/) for 4.13.1

[2022-11-02 11:25] giammyisjammy commented on #398
Had the same problem, can confirm that the latest Docker update fixes the issue.

[2022-11-12 04:22] jesseduffield commented on #399
@2k16daniel is there anything in that config section that does contain the correct name?

[2022-11-12 10:48] hugalafutro commented on #391
I subjectively feel it got even worse in 0.20.0, now it's about half or more of the containers displaying no logs in lazydocker.

[2022-11-12 11:12] 2k16daniel commented on #399
Yes, as you can see the container 8f6d82550054 has a correct name output both from docker container ls command and lazydocker

![Screenshot from 2022-11-12 19-07-44](https://user-images.githubusercontent.com/55439966/201471288-35561ae3-c043-4a3b-b652-ebb355645fec.png)

![Screenshot from 2022-11-12 19-08-40](https://user-images.githubusercontent.com/55439966/201471328-84db08ec-a027-470a-8b2b-0fa335

[2022-11-13 02:13] jesseduffield commented on #399
sorry I meant: for the phpmyadmin/db container, is there anything in the Config tab in the main panel that contains the sqlserver name? The idea being that we could make use of that

[2022-11-13 06:47] 2k16daniel commented on #399
yes it has, at bottom part under "logPath" :
[code]
![image](https://user-images.githubusercontent.com/55439966/201509325-8cb2f044-2ec7-414f-bd44-489077aaddc7.png)

and this my docker inspect output of phpmyadmin/db container

[code]

[2022-11-13 18:56] Rdkang opened #400 "Allow changing the default screen mode"
**Is your feature request related to a problem? Please describe.**
Most of the time i do not use the images and volumes panel and is unneeded information for me, So It would be great if i could set the default screen mode.

**Describe the solution you'd like**
An option in `config.yml`:
[code]
**Describe alternatives you've considered**
An alternative improvement could be being able to toggle pane

[2022-11-13 22:44] jesseduffield commented on #399
Interesting, so sounds like if there is a name in the config we should use that

[2022-11-13 22:47] jesseduffield commented on #399
in `pkg/commands/docker.go` we have:
[code]

Does your container have a 'name' label?

[2022-11-14 19:53] 2k16daniel commented on #399
Sorry What do you mean bout 'name' label? Forgive me, English isn't my Native language. And also for late reply Its a busy week for me.

I passed a flag --name with "sqlserver"  when I created the container

[2022-11-20 06:59] nakaakist opened #402 "Selected service automatically moves when there are multiple services with the same config"
**Describe the bug**

When there are multiple containers with the same config in `docker-compose.yml` like below, the selected service in the "Services" side panel automatically moves on every refresh, even though the user does not touch anything.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `docker-compose up -d` with the `docker-compose.yml` above.
2. run `lazydocker`
3. wai

[2022-11-21 14:45] Tam opened #403 "Clear logs"
It'd be really useful to be able to clear the logs view and only show new items as they come in.

This is possible when viewing the logs independently (i.e. via the `m` keybind) and using the clear command to clear the terminal, but I often find myself jumping between containers to check the logs, so being able to do this within the lazydocker context would be handy!

[2022-11-21 23:23] jesseduffield commented on #403
I agree this would be a great feature. It might also be quite easy i.e. just press a key and then clear the main view. I'm gonna put a good-first-issue label on this. If you wanna take a stab at this @Tam lemme know and I can point you to the right places in the code to make the changes

[2022-11-22 11:16] Tam commented on #403
It's been a minute since I last used Go @jesseduffield, but sure if you can point me in the right direction I'll try to find time soon to give it a shot!

[2022-11-22 17:29] martini1992 opened #404 "Shorten container status and health to 1 character"
**Is your feature request related to a problem? Please describe.**
Using the container list can be awkward when forces to use a small window size, especially when containers have long names etc.

**Describe the solution you'd like**
Adding a config option to allow shortening the container status from "running" to "R" for instance would save a lot of space while still being intuitive, the health in

[2022-11-23 06:32] jesseduffield commented on #403
Awesome :)

So you'll want to add a keybinding handler in `pkg/gui/main_panel.go` called `handleClearMain`
[code]
and then you'll want to reference it from `pkg/gui/keybindings.go` like so:
[code]

You'll also need to add the keybinding's help text to `pkg/i18n/english.go` (that's what the `gui.Tr.ClearMain` thing refers to).

I'd see how that goes. We'll likely need to tweak it but that's a good

[2022-11-23 09:29] jesseduffield commented on #404
Makes sense to me. The possible states are:
[code]
So using letters is a little hard, especially given we have three states that start with 'R'. Perhaps we could think of some more semantic characters to use. E.g. running: '▶︎', restarting '⟳', paused: ⏾︎.

[2022-11-23 09:31] jesseduffield commented on #404
the code for this is over in `pkg/gui/presentation/containers.go` in the `getContainerDisplayStatus` function. We could create a map e.g.:
[code]
and use that there. But testing that out locally I see there's some glitchiness in the rendering which I believe comes from the gocui package (which is something we control, via a fork). I suspect the draw function in `vendor/github.com/jesseduffield/goc

[2022-11-23 09:44] jesseduffield commented on #400
Works for me. This should be easy to implement: just needs a new config key [here](https://github.com/jesseduffield/lazydocker/blob/b8969fd55f2c446d0fe0f5baf15b2693f1def65b/pkg/config/app_config.go#L132) and then we need to make use of that when the gui is first opened [here](https://github.com/jesseduffield/lazydocker/blob/b8969fd55f2c446d0fe0f5baf15b2693f1def65b/pkg/gui/gui.go#L118) and then we

[2022-11-23 09:56] jesseduffield commented on #391
Right you are @hugalafutro: as of v0.20.0 we only show the last hour of logs for a given container (see commit here: https://github.com/jesseduffield/lazydocker/commit/0b7017150c7cf0534c71203a53c2ff0f608e459c).

This is configurable: you can set:
[code]
in your config to un-set the 'since' value that gets passed to `docker logs`.

The motivation behind that was that if a container has millions of

[2022-11-23 11:09] Rdkang commented on #400
Yes, thank you for the helpful links.
I will try to implement it this weekend

[2022-11-23 11:10] Rdkang commented on #400
Yes, thank you for the helpful links.
I will try to implement it this weekend

[2022-11-23 11:11] jesseduffield commented on #400
Awesome, let me know if you run into any issues.

Also I'll re-open this until the issue is complete

[2022-11-23 11:12] martini1992 commented on #404
Using these symbols is highly dependant on the font used in the terminal and also support in the terminal itself which could cause issues. Even in the browser (Firefox on Windows) the chosen paused and created icons won't display, this is why I suggested normal characters. For the less common double ups, restarting and removing could we use "RS" and "RM"?

[2022-11-23 11:21] jesseduffield commented on #404
two characters sounds like a good compromise

[2022-11-23 11:24] nakaakist commented on #402
Thanks. Yes, I'll try!

[2022-11-23 11:25] jesseduffield commented on #402
Sweet, let me know if you run into any issues :)

[2022-11-23 11:26] jesseduffield commented on #404
I'm happy to just have either full text or the two characters (given my testing with single unicode characters proved buggy anyway).

And yep, it's just healthy, unhealthy, and starting. One character for that sounds good

[2022-11-23 11:27] jesseduffield commented on #404
Would you be up to raising a PR for this @martini1992 ?

[2022-11-23 11:29] martini1992 commented on #404
Awesome, if nobody has picked this up by this evening (after 4pm GMT) then I'll see what I can put together. Bare with me though I'm only a lowly C# dev 🤣

[2022-11-23 11:32] jesseduffield commented on #391
I've got a WIP PR up for making this stuff visible and configurable from within the app https://github.com/jesseduffield/lazydocker/pull/406

[2022-11-23 15:28] hugalafutro commented on #391
Thanks, I was not aware of this, it is actually an useful feature, I have containers that keep logs for months and it took like 10mins for it to scroll to the end on raspberry pi.

I was just taken aback by the blank screen that to me looked like bug, perhaps a line of text in such a case explaining that no logs have been produced in last hour could be useful, although in that case I would possibl

[2022-11-23 20:54] martini1992 commented on #404
Struggling to figure out how to pass the AppConfig into GetContainerDisplayStrings in pkg/gui/presentation/containers.go
Adding any reference to Gui in containers.go throws up undefined errors.

[2022-11-23 22:03] jesseduffield commented on #404
you can add the config as a new argument to `GetContainerDisplayStrings` and then pass it in from the place it's called. That should do the trick

[2022-11-23 22:05] martini1992 commented on #404
Yeah, I was trying to pass the whole Gui object, but just passing the GuiConfig seems to be working.

23 Nov 2022 22:03:28 Jesse Duffield ***@***.***>:

[2022-11-23 23:56] martini1992 commented on #404
Have a working version now :) I was thinking again about the issues you saw and I am seeing too using the icons, found gocui has been abandoned by it's creator, though there seems to be an active fork [https://github.com/awesome-gocui/gocui](https://github.com/awesome-gocui/gocui) might be worth looking into, crucially it claims to have better wide character support, which I believe is the issue w

[2022-11-23 23:57] jesseduffield commented on #404
We actually use our own [fork](https://github.com/jesseduffield/gocui) (under my github account) which is _supposed_ to have better wide character support. I'm not sure how much it's diverged from awesome-gocui though (the guys who made that were early contributors of lazygit/lazydocker)

[2022-11-24 08:49] martini1992 commented on #404
There seems to be quite a difference in the number of commits after each forked from the main project. I fI was to try testing awesome-gocui in place of your fork, would it be a case of replacing the reference in `go.mod` and replacing it in every source files import?

[2022-11-28 19:39] 26tanishabanik commented on #403
@jesseduffield, is anyone actively working on this issue right now?

[2022-11-28 19:42] 26tanishabanik commented on #396
@jesseduffield , for pushing the image, how would the authentication be perfomed, or is it like already been taken care of, if yes, where?

[2022-11-28 19:46] 26tanishabanik commented on #384
@jesseduffield , I would like to pick up this issue, can you guide me how and from where I should start with the development, also like the setup in local for dev?

[2022-11-28 23:40] jesseduffield commented on #403
Did you get a chance to start on this @Tam ? If you want to give it a go @26tanishabanik I'm happy to assign you

[2022-11-28 23:42] jesseduffield commented on #396
good question. To my knowledge, docker wouldn't ask you to for a password upon trying to push, it would just fail if you're not already logged into the registry. I'm happy for a login flow to be handled in a separate issue

[2022-11-28 23:44] jesseduffield commented on #384
I recommend using either github codespaces or a dev container in VSCode (to minimise the setup time). I've neglected to add instructions to the lazydocker contributing guide but you can use the lazygit contribute guide as a guide: https://github.com/jesseduffield/lazygit/blob/master/CONTRIBUTING.md#running-in-a-vscode-dev-container

[2022-11-29 07:19] 26tanishabanik commented on #403
I can give it a try @jesseduffield

[2022-11-29 07:21] 26tanishabanik commented on #396
Understood. So, which part of this issue can I work on and where should I start for that in the source code?

[2022-11-29 07:22] 26tanishabanik commented on #384
Got it @jesseduffield , will look into that guide

[2022-11-29 07:28] jesseduffield commented on #396
All three of the keybindings (tagging, pushing, pulling)

* the keybindings need to be set in `pkg/gui/keybindings.go`
* the handlers for the keybindings need to be created in `pkg/gui/images_panel.go`

[2022-11-29 08:40] Tam commented on #403
@jesseduffield it’s probably gonna be a while before I have time, happy to let @26tanishabanik take the reins 👍

[2022-11-30 13:32] 26tanishabanik commented on #403
@jesseduffield , `KeyCtrlL` , means key 'L'?

[2022-11-30 13:33] mark2185 commented on #403
I'd guess it's `ctrl+L`.

[2022-11-30 13:35] 26tanishabanik commented on #403
Thanks @mark2185

[2022-11-30 13:44] 26tanishabanik commented on #403
@jesseduffield , `ctrl+L` is working, I am able to clear the logs, after moving my cursor to the logs tab

[2022-11-30 19:04] 26tanishabanik commented on #396
@jesseduffield , In this example: https://github.com/jesseduffield/gocui/blob/master/_examples/stdin.go, where is the input being taken in `layout` func

[2022-11-30 19:28] 26tanishabanik commented on #396
For now, when I press 't' on a selected image, it shows this, with the image name printed on the popUp Panel:
<img width="1482" alt="Screenshot 2022-12-01 at 12 56 27 AM" src="https://user-images.githubusercontent.com/50806654/204890379-09c98e50-3348-4449-9967-67f32e1afd20.png">